body {
  margin:0;
  font-family: Arial;
  background:#f2f2f2;
  color:#000;
}

.dark {
  background:#121212;
  color:#fff;
}

.container {
  max-width:1000px;
  margin:auto;
  padding:20px;
}
.skill { margin:10px 0; }

.bar {
  background:#ddd;
  height:8px;
  border-radius:10px;
}

.bar div {
  background:black;
  height:8px;
  border-radius:10px;
}
.topbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.hero {
  display:flex;
  gap:20px;
  align-items:center;
}

.hero img {
  width:150px;
  border-radius:50%;
}

.btn {
  background:black;
  color:white;
  padding:10px 15px;
  text-decoration:none;
  display:inline-block;
  margin-top:5px;
}
#themeToggle {
  padding: 3px 6px;
  font-size: 11px;
  margin: 5px 5px;
}
.project, .blog {
  border:1px solid #ddd;
  padding:10px;
  margin:10px 0;
}

.card {
  border:1px solid #ddd;
  padding:10px;
  margin:10px 0;
  background:white;
}

.dark .card {
  background:#1e1e1e;
}

.dashboard {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

input, textarea, button {
  width:100%;
  margin:5px 0;
  padding:8px;
}

footer {
  margin-top:30px;
  text-align:center;
}

/* Animations */
.fade-in {
  animation: fadeIn 1s;
}

.slide-in {
  animation: slideIn 1s;
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes slideIn {
  from {transform:translateY(20px); opacity:0;}
  to {transform:translateY(0); opacity:1;}
}
.skill { margin:10px 0; }

.bar {
  background:#ddd;
  height:8px;
  border-radius:10px;
}

.bar div {
  background:black;
  height:8px;
  border-radius:10px;
}
